<?xml version="1.0" encoding="utf-8"?>
<InstalledPlugins xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Plugin>
    <Name>Plugin</Name>
    <Description>The DeCompactPlugIn</Description>
    <Contact>contact@company.info</Contact>
    <PluginTypeName>DeCompactPlugIn.Plugin, DeCompactPlugIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</PluginTypeName>
    <PluginUri>http://www.pluginuri.info/</PluginUri>
    <PluginId>://DeCompactPlugIn.Plugin/1.0.0.0</PluginId>
    <Trust PublicKeyToken="">Default</Trust>
    <ReleaseDate>2016-09-05</ReleaseDate>
    <Author>daren</Author>
    <AppVersion>2015.1</AppVersion>
    <Modules>
      <Module TypeName="DeCompactPlugIn.DeCompactModule, DeCompactPlugIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </Modules>
    <Assemblies>
      <Assembly Name="DeCompactPlugIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </Assemblies>
    <assemblyBinding />
    <StartMode>Startup</StartMode>
    <StartupAction>None</StartupAction>
  </Plugin>
</InstalledPlugins>