<?xml version="1.0" encoding="utf-8"?>
<InstalledPlugins xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Plugin>
    <Name>DeCompactionPlugin-BitNumbers</Name>
    <Description>The DeCompaction WorkSteps PlugIns</Description>
    <Contact>davidb@bit-numbers.com</Contact>
    <PluginTypeName>DeCompactPlugIn.Plugin, DeCompactPlugIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0875ec62433e0b01</PluginTypeName>
    <PluginUri>http://www.pluginuri.info/</PluginUri>
    <PluginId>://DeCompactPlugIn.Plugin/1.0.0.0</PluginId>
    <Trust PublicKeyToken="">Default</Trust>
    <ReleaseDate>2016-09-08</ReleaseDate>
    <Author>daren</Author>
    <AppVersion>2015.1</AppVersion>
    <Modules>
      <Module TypeName="DeCompactPlugIn.DeCompactModule, DeCompactPlugIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0875ec62433e0b01" />
    </Modules>
    <Assemblies>
      <Assembly Name="DeCompactPlugIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0875ec62433e0b01" />
    </Assemblies>
    <assemblyBinding />
    <StartMode>Startup</StartMode>
    <StartupAction>None</StartupAction>
  </Plugin>
</InstalledPlugins>